# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python


2. R


3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy


2. Pandas


3. Scikit-learn


4. Tensorflow


5. Keras


| Data Science Tools | 
| :- | 
| jupyter-notebook | 
| vscode | 
| pycharm

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
min2hr = 1/60

min200hr = 200 * min2hr

min200hr

3.3333333333333335

## Author

Rituparna Datta